*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
#password{
    position: absolute;
   
    */

    body{
        display: inline-block;

    }


.image{
    width: 25px;
    height: 14px;
    position: relative;
    left: -30px;
    top: 3px;
}
.image1{
    width: 25px;
    height: 14px;
    position: relative;
    left: -30px;
    top: 3px;
}

form{
    display: flex;
    flex-direction: column;


}

input{
    margin-left: 15px;
    align-items: center;
    justify-content: center;


}

